<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.csmall.product.mapper.AttributeMapper">

    <!--int insert(Attribute attribute)-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into pms_attribute(template_id,name,description,type,
                              input_type,value_list,unit,
                              sort,is_allow_customize)
                              values (#{templateId},#{name},#{description},#{type},
                                      #{inputType},#{valueList},#{unit},
                                      #{sort},#{isAllowCustomize})
    </insert>

    <delete id="deleteById">
        delete from pms_attribute where id=#{id}
    </delete>

    <select id="countByName" resultType="int">
        select count(*) from pms_attribute where name=#{name}
    </select>

    <select id="countById" resultType="int">
        select count(*) from pms_attribute where  id=#{id}
    </select>


</mapper>
