<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.csmall.product.mapper.BrandMapper">

    <!--int insert(Brand brand)-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into pms_brand(name,pinyin,logo,description,keywords,sort,
                          sales,product_count,comment_count,
                          positive_comment_count,enable)
                   values(#{name},#{pinyin},#{logo},#{description},
                        #{keywords},#{sort},#{sales},#{productCount},
                        #{commentCount},#{positiveCommentCount},#{enable})
    </insert>

    <!--int insertBatch(List<Brand> brands)-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into pms_brand (name,pinyin,logo) values
                                <foreach collection="list" item="brand" separator=",">
                                    (#{brand.name},#{brand.pinyin},#{brand.logo})
                                </foreach>
    </insert>

    <!--int deleteById(Long id)-->
    <delete id="deleteById">
        delete from pms_brand where id=#{id}
    </delete>

    <!--int deleteByIds(Long[] ids)-->
    <delete id="deleteByIds">
        delete from pms_brand where id in (
        <foreach collection="array" item="id" separator=",">#{id}
        </foreach>
)
    </delete>

    <!--int update(Brand brand)-->
    <update id="update">
        update pms_brand
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="pinyin!=null">
                pinyin = #{pinyin},
            </if>
            <if test="logo!=null">
                logo = #{logo},
            </if>
            <if test="description!=null">
                description = #{description},
            </if>
            <if test="keywords!=null">
                keywords = #{keywords},
            </if>
            <if test="sort!=null">
                sort = #{sort},
            </if>
            <if test="sales!=null">
                sales = #{sales},
            </if>
            <if test="productCount!=null">
                product_count = #{productCount},
            </if>
            <if test="commentCount!=null">
                comment_count = #{commentCount},
            </if>
            <if test="enable!=null">
                enable = #{enable},
            </if>
            <if test="positiveCommentCount!=null">
                positive_comment_count = #{positivecommentCount},
            </if>
        </set>
            where id=#{id}
    </update>

    <!--BrandStandardVo getStandardById(Long id)-->
    <select id="getStandardById" resultMap="StandardResultMap">
        <include refid="StandardQueryFields"/>
    </select>
    <sql id="StandardQueryFields">
        select name,pinyin,logo,description,keywords,sort,
               sales,product_count,comment_count,
               positive_comment_count,enable
        from pms_brand
        where id=#{id}
    </sql>
    <resultMap id="StandardResultMap" type="cn.tedu.csmall.product.pojo.vo.BrandStandardVo">
        <result column="product_count" property="productCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="positive_comment_count" property="positiveCommentCount"/>
    </resultMap>

    <!--List<BrandListItemVo> list()-->
    <select id="list" resultMap="ListItemResultMap">
        <include refid="ListItemQueryFields"/>
    </select>
    <sql id="ListItemQueryFields">
        select id,name,logo from pms_brand order by sort desc
    </sql>
    <resultMap id="ListItemResultMap" type="cn.tedu.csmall.product.pojo.vo.BrandListItemVo">

    </resultMap>

    <!--int count()-->
    <select id="count" resultType="int">
        select count(*) from pms_brand order by name
    </select>




</mapper>
